*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Poppins", sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}
.navbar-links a:hover{
    text-decoration: underline;
}
.navbar-menu-toggle{
    display: none;
}
.side-navbar{
    background: black;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;
}
.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color: rgb(245, 237, 237);
    border-radius: 5px;
    padding: 10px;

}.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 10px;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: black;
    color: #f2f4f7;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;

}
.product-search input{
    border: none;
    background-color:transparent;
    width: 100%;
}
.product-search input :focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}
@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }


}